<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Weather Journal</title>
    </head>

    <body>
        <div class="title">
            <h1>
                Travel App
            </h1>
            <h3>
                Plan to a travel with our awesome app!
            </h3>
        </div>

        <div class="main">
            <form class="" onsubmit="return client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Please enter city name" required>
                <input id="days" type="date" name="input" required>
                <p id="onError"></p>
                <input type="submit" name="" value="Show Data" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </div>
        <div id="result"></div>   

        <footer>
            Azamat Abduvohidov. Tashkent 2023
        </footer>
     
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js').then(registration =>{
                        console.log('SW registered successfuly: ', registration);
                    });
                });
                }else{
                console.log("Service Working not supported");
                    }
        </script>
        
    </body>
</html>
